_*.cc
temp
now
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CMakeFiles
CMakeLists.txt
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
