_*.cc
temp
now
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# CMakeFiles
CMakeLists.txt
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
ACM-ICPC/language_prac/java/*
hs_err_pid*
.recommenders
